<ion-header no-border translucent></ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300" *ngIf="vista">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="vista">
    <ion-item lines="none">
      <ion-toolbar>
        <div class="ion-text-center">
          <ion-title color="primary">
            Creacion de Tiket
          </ion-title>
        </div>
      </ion-toolbar>
    </ion-item>
    <ion-item lines="none">
      <ion-toolbar>
        <ion-item slot="start" lines="none">
          <ion-checkbox color="danger" [disabled]="data.mesa" [(ngModel)]="data.domicilio" checked slot="start"></ion-checkbox>
          <ion-label>Domicilio</ion-label>
        </ion-item>
        <ion-item slot="end" lines="none">
          <ion-checkbox [disabled]="data.domicilio" color="danger" [(ngModel)]="data.mesa" checked slot="start"></ion-checkbox>
          <ion-label>Mesa</ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-item>
    <ion-item *ngIf="!data.mesa">
      <ion-label position="floating">Nombre del Cliete</ion-label>
      <ion-input autofocus [(ngModel)]="data.cliente" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="data.mesa">
      <ion-label position="floating">Numero de Mesa</ion-label>
      <ion-input autofocus [(ngModel)]="data.cliente" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="data.domicilio">
      <ion-label position="floating">Direccion Cliente</ion-label>
      <ion-input autofocus [(ngModel)]="data.direccionCliente" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="data.domicilio">
      <ion-label position="floating">Celular Cliente</ion-label>
      <ion-input autofocus [(ngModel)]="data.celularCliente" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Detalles</ion-label>
      <ion-textarea rows="3" cols="6" [(ngModel)]="data.detalles" placeholder="Describe sus detalles"></ion-textarea>
    </ion-item>
    <ion-list-header>
      <ion-toolbar>
        <div class="ion-text-center">
          <ion-title color="primary">
            Datos del pedido
          </ion-title>
        </div>
      </ion-toolbar>
    </ion-list-header>
    <ion-item>

      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300">
        <ion-refresher-content>
        </ion-refresher-content>
      </ion-refresher>

      <ion-searchbar showCancelButton="focus" debounce="700" [value]="textoBuscar"
        (ionChange)="buscarProducto( $event)"></ion-searchbar>
    </ion-item>
    <ion-item *ngFor="let item of listArticulos" (click)="seleccionando( item )" lines="none" [ngClass]="{
        'check': item.check
      }">
      <ion-text color="dark" slot="start">
        {{ item.titulo | slice: 0: 100 }}
      </ion-text>
      <ion-text color="dark" slot="end">
        {{ _tools.monedaChange( 3, 2, item.valor || 0 ) }}
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData( $event )">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingtext="Cargando data..">

        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!vista">
    <ion-item lines="none">
      <ion-toolbar>
        <div class="ion-text-center">
          <ion-title color="primary">
            Resumen de Tiket
          </ion-title>
        </div>
      </ion-toolbar>
    </ion-item>
    <ion-item>
      <ion-toolbar>
        <div class="ion-text-center">
          <ion-title color="primary">
            Datos del cliente
          </ion-title>
        </div>
      </ion-toolbar>
    </ion-item>
    <ion-item [ngStyle]="{ 'background':urlColor }">
      <ion-text [color]="urlColor">
        <label for="">Tipo de Tiket: </label>
        <span class="colorNegro" *ngIf="data.domicilio"> Domicilio</span>
        <span class="colorNegro" *ngIf="data.mesa"> Mesa</span>
        <span class="colorNegro" *ngIf="!data.mesa && !data.domicilio"> Particular</span>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text color="primary">
        <label for="">Cliente: </label>
        <span class="colorNegro">{{ data.cliente | slice: 0: 100 }}</span>
      </ion-text>
    </ion-item>
    <ion-item *ngIf="data.direccionCliente">
      <ion-text color="primary">
        <label for="">Direccion Cliente: </label>
        <span class="colorNegro">{{ data.direccionCliente | slice: 0: 300 }}</span>
      </ion-text>
    </ion-item>
    <ion-item *ngIf="data.celularCliente">
      <ion-text color="primary">
        <label for="">Celular Cliente: </label>
        <span class="colorNegro">{{ data.celularCliente }}</span>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text color="primary">
        <label for="">Detalles: </label>
        <span class="colorNegro">{{ data.detalles | slice: 0: 400 }}</span>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-toolbar>
        <div class="ion-text-center">
          <ion-title color="primary">
            Productos Seleccionados
          </ion-title>
        </div>
      </ion-toolbar>
    </ion-item>
    <ion-item *ngFor="let item of listSeleccionado" (click)="seleccionando( item )" lines="none">
    <ion-label>
      <ion-text color="dark" slot="start">
        <label>Producto: </label>
        <span> {{ item.titulo | slice: 0: 300 }} </span>
      </ion-text><br>
      <ion-text color="danger" slot="start">
        <label>Descripcion: </label>
        <span> {{ item.descripcion | slice: 0: 300 }} </span>
      </ion-text><br>
      <ion-text color="medium">
        <label>Cantidad: </label>
        <span> {{ item.cantidad }} </span>
      </ion-text><br>
      <ion-text color="dark">
        <label>Precio: </label>
        <span> {{ _tools.monedaChange( 3, 2, item.valor || 0 ) }} </span>
      </ion-text><br>
      <ion-text color="dark">
        <label>Total: </label>
        <span> {{ _tools.monedaChange( 3, 2, item.valor * item.cantidad || 0 ) }} </span>
      </ion-text>
    </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="!vista" class="footerFinal">
    <ion-text color="dark">
      Precio Final: {{ _tools.monedaChange( 3, 2, data.total || 0 ) }}
    </ion-text>
  </ion-toolbar>
  <ion-toolbar>
    <ion-button color="warning" expand="full" (click)="verTiket()" *ngIf="vista">
      Resumen Tiket
    </ion-button>
    <ion-button color="warning" expand="full" (click)="creandoTiket()" *ngIf="!vista">
      Creando Tiket
    </ion-button>
    <ion-button color="success" expand="full" (click)="finalizarTiket()">
      Finalizar Tiket
    </ion-button>
  </ion-toolbar>
</ion-footer>